* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #DADADA;
}
.sign_in {
    width: 320px;
    background-color: #D2F2F5;
    border-radius: 8px;
    border: none;
}
h2 {
    text-align: center;
    padding-top: 10px;
}
form {
    padding: 10px 10px 0px 10px; 
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div.username {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.submit {
    padding: 10px 0px 10px 0px;
}
button.submit {
    font-size: 18px;
    padding: 2px 5px;
}
#error {
    padding: 0px 0px 10px 10px;
    color: red;
}